<%- include('partials/dashboardHeader')%>

<br />
<select onchange="doGTranslate(this);">
    <option value="">Select Language</option>
    <option value="en|af">Afrikaans</option>
    <option value="en|sq">Albanian</option>
    <option value="en|ar">Arabic</option>
    <option value="en|hy">Armenian</option>
    <option value="en|az">Azerbaijani</option>
    <option value="en|eu">Basque</option>
    <option value="en|be">Belarusian</option>
    <option value="en|bg">Bulgarian</option>
    <option value="en|ca">Catalan</option>
    <option value="en|zh-CN">Chinese (Simplified)</option>
    <option value="en|zh-TW">Chinese (Traditional)</option>
    <option value="en|hr">Croatian</option>
    <option value="en|cs">Czech</option>
    <option value="en|da">Danish</option>
    <option value="en|nl">Dutch</option>
    <option value="en|en">English</option>
    <option value="en|et">Estonian</option>
    <option value="en|tl">Filipino</option>
    <option value="en|fi">Finnish</option>
    <option value="en|fr">French</option>
    <option value="en|gl">Galician</option>
    <option value="en|ka">Georgian</option>
    <option value="en|de">German</option>
    <option value="en|el">Greek</option>
    <option value="en|ht">Haitian Creole</option>
    <option value="en|iw">Hebrew</option>
    <option value="en|hi">Hindi</option>
    <option value="en|hu">Hungarian</option>
    <option value="en|is">Icelandic</option>
    <option value="en|id">Indonesian</option>
    <option value="en|ga">Irish</option>
    <option value="en|it">Italian</option>
    <option value="en|ja">Japanese</option>
    <option value="en|ko">Korean</option>
    <option value="en|lv">Latvian</option>
    <option value="en|lt">Lithuanian</option>
    <option value="en|mk">Macedonian</option>
    <option value="en|ms">Malay</option>
    <option value="en|mt">Maltese</option>
    <option value="en|no">Norwegian</option>
    <option value="en|fa">Persian</option>
    <option value="en|pl">Polish</option>
    <option value="en|pt">Portuguese</option>
    <option value="en|ro">Romanian</option>
    <option value="en|ru">Russian</option>
    <option value="en|sr">Serbian</option>
    <option value="en|sk">Slovak</option>
    <option value="en|sl">Slovenian</option>
    <option value="en|es">Spanish</option>
    <option value="en|sw">Swahili</option>
    <option value="en|sv">Swedish</option>
    <option value="en|th">Thai</option>
    <option value="en|tr">Turkish</option>
    <option value="en|uk">Ukrainian</option>
    <option value="en|ur">Urdu</option>
    <option value="en|vi">Vietnamese</option>
    <option value="en|cy">Welsh</option>
    <option value="en|yi">Yiddish</option>
</select>
<div id="google_translate_element2"></div>
<script type="text/javascript">
    function googleTranslateElementInit2() {
        new google.translate.TranslateElement({ pageLanguage: "en", autoDisplay: false }, "google_translate_element2");
    }
</script>
<!-- <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script> -->

<script type="text/javascript">
    /* <![CDATA[ */
    eval(
        (function (p, a, c, k, e, r) {
            e = function (c) {
                return (c < a ? "" : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36));
            };
            if (!"".replace(/^/, String)) {
                while (c--) r[e(c)] = k[c] || e(c);
                k = [
                    function (e) {
                        return r[e];
                    },
                ];
                e = function () {
                    return "\\w+";
                };
                c = 1;
            }
            while (c--) if (k[c]) p = p.replace(new RegExp("\\b" + e(c) + "\\b", "g"), k[c]);
            return p;
        })(
            "6 7(a,b){n{4(2.9){3 c=2.9(\"o\");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s('t'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a=='')v;3 b=a.w('|')[1];3 c;3 d=2.x('y');z(3 i=0;i<d.5;i++)4(d[i].A=='B-C-D')c=d[i];4(2.j('k')==E||2.j('k').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,'m');7(c,'m')}}",
            43,
            43,
            "||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500".split(
                "|"
            ),
            0,
            {}
        )
    );
    /* ]]> */
</script>

    
    <!-- <div id="custom-loader" class="">
        <div id="app-loader-bg">
            <div id="app-loader">
                <div class="app-loader-child"></div>
                <div class="app-loader-child"></div>
                <div class="app-loader-child"></div>
                <div class="app-loader-child"></div>
                <div class="app-loader-child"></div>
            </div>
        </div>
    </div> -->

    <div id="app-wrapper">
        <div id="app-sidebar-overlay"></div>
        <div id="app-sidebar">

            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/dashboard">
                        <img src="https://beta.tmgstock.com/public/img/logo/logo.png" alt="" width=""
                            height="40">
                    </a>
                </div>
            </nav>

            <div class="p-3">
                <div class="sidebar-names"><%=user.fullname%></div>
                <div class="sidebar-sub mt-1"><%=user.email%></div>

                <div class="sidebar-sub mt-3">Portfolio</div>
                <div class="sidebar-currency"><%=user.balance%>
                </div>

                <div class="sidebar-sub mt-3">Trade Percentage</div>
                <div class="progress mt-1">
                    <div class="progress-bar-animated progress-bar progress-bar-striped bg-dark" role="progressbar"
                        style="width: 0%;"><%=user.session%></div>
                </div>
            </div>

            <div class="app-sidebar-links">

                <div class="sidebar-header">Main</div>

                <div class="p-3">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <button onclick="location.href=`/deposit`" class="btn btn-success w-100"
                                type="button">Deposit</button>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <button onclick="location.href=`/withdrawal`" class="btn btn-primary w-100"
                                type="button">Withdraw</button>
                        </div>
                    </div>
                </div>

                <a href="/dashboard"
                    class="app-sidebar-link active-link">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-tachometer-fast fa-lg icon-color"></i></div>
                        <div class="col">Overview</div>
                    </div>
                </a>

                <a href="/deposit"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-wallet fa-lg icon-color"></i></div>
                        <div class="col">My Wallets</div>
                    </div>
                </a>

                <a href="/transactions/<%=user._id%>"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-file-invoice-dollar fa-lg icon-color"></i></div>
                        <div class="col">Transactions</div>
                    </div>
                </a>

                <div class="sidebar-header">Account</div>

                <a href="/account/<%=user._id%>"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-user fa-lg icon-color"></i></div>
                        <div class="col">Personal Data</div>
                    </div>
                </a>

                <a href="/verify"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-shield-check fa-lg icon-color"></i></div>
                        <div class="col">Verification</div>
                    </div>
                </a>

                <a href="/settings"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-cogs fa-lg icon-color"></i></div>
                        <div class="col">Settings</div>
                    </div>
                </a>

                <a href="/accountupgrade"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-sort-amount-up fa-lg icon-color"></i></div>
                        <div class="col">Upgrade</div>
                    </div>
                </a>

                <div class="sidebar-header">Market</div>

                <a href="/charts"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-analytics fa-lg icon-color"></i></div>
                        <div class="col">Charts</div>
                    </div>
                </a>

                <a href="/quotes"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-project-diagram fa-lg icon-color"></i></div>
                        <div class="col">Quotes</div>
                    </div>
                </a>

                <!-- <a href="/tradinghistory"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-history fa-lg icon-color"></i></div>
                        <div class="col">Trading History</div>
                    </div>
                </a> -->

                <a href="/buyCrypto"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-bags-shopping fa-lg icon-color"></i></div>
                        <div class="col">Buy Crypto</div>
                    </div>
                </a>

                <a href="/calendar"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-calendar-week fa-lg icon-color"></i></div>
                        <div class="col">Calender</div>
                    </div>
                </a>

                <div class="sidebar-header">Help</div>

                <a href="/managers"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-user-check fa-lg icon-color"></i></div>
                        <div class="col">Managers</div>
                    </div>
                </a>

                <div class="sidebar-header">More</div>

                <a href="/logout"
                    class="app-sidebar-link ">
                    <div class="row">
                        <div class="col-2"><i class="fad fa-sign-out-alt fa-lg icon-color"></i></div>
                        <div class="col">Log Out</div>
                    </div>
                </a>

            </div>
        </div>

        <div id="app-content">
            <div id="app-header-nav">
                <div class="row align-items-center">
                    <div class="col-1 d-md-none">
                        <div class="d-md-none" id="app-sidebar-toggle"><i class="fas fa-bars fa-2x"></i></div>
                    </div>

                    <div class="d-none d-md-block col-md-7">
                        <div class="">
                            <h4 class="page-title">Activities &amp; Overview</h4>
                        </div>
                    </div>

                    <div class="col-11 col-md-5">
                        <div class="d-flex justify-content-end">
                            <div class="">
                                <img class="me-2 nav-img"
                                    src="/IMG_UPLOADS<%=user.image%>" alt="PROFILE">
                                <!-- <img class="me-2 nav-img" src="" id="dtt"> -->
                                <button onclick="location.href='/logout'"
                                    class="btn btn-sm btn-outline-primary">Log Out</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
    

    <div class="p-3">
        <div class="container-fluid dsh mb-3">
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="dsh-title">Deposit</h4>
                </div>
                <div>
                    <h4 class="dsh-title"><%=user.balance%></h4>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="dsh-title">Profit</h4>
                </div>
                <div>
                    <h4 class="dsh-title"><%=user.profit%></h4>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="dsh-title">Withdrawable</h4>
                </div>
                <div>
                    <h4 class="dsh-title"><%=user.widthdrawBalance%></h4>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="dsh-title">Total widthdraw</h4>
                </div>
                <div>
                    <h4 class="dsh-title"><%=user.totalWidthdraw%></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
                            
                                    <!-- <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Action Required!</strong> Please let us know who you are by completing your account verification
                   user.verifiedStatus%> 
                    process.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                     -->

                     <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>Action Required!</strong><%=user.verifiedStatus%>
                      <!-- user.verifiedStatus%> -->
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                        
                            
                                </div>

    

    <div class="container-fluid mt-3">
        <div class="custom-container">
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js"
                    async>
                    {
                        "colorTheme": "dark",
                        "dateRange": "12M",
                        "showChart": true,
                        "locale": "en",
                        "largeChartUrl": "",
                        "isTransparent": true,
                        "showSymbolLogo": true,
                        "width": "100%",
                        "height": "660",
                        "plotLineColorGrowing": "rgba(255, 87, 34, 1)",
                        "plotLineColorFalling": "rgba(255, 87, 34, 1)",
                        "gridLineColor": "rgba(240, 243, 250, 1)",
                        "scaleFontColor": "rgba(120, 123, 134, 1)",
                        "belowLineFillColorGrowing": "transparent",
                        "belowLineFillColorFalling": "rgba(255, 87, 34, 0.02)",
                        "symbolActiveColor": "rgba(255, 87, 34, 0.02)",
                        "tabs": [{
                            "title": "Indices",
                            "symbols": [{
                                "s": "FOREXCOM:SPXUSD",
                                "d": "S&P 500"
                            }, {
                                "s": "FOREXCOM:NSXUSD",
                                "d": "Nasdaq 100"
                            }, {
                                "s": "FOREXCOM:DJI",
                                "d": "Dow 30"
                            }, {
                                "s": "INDEX:NKY",
                                "d": "Nikkei 225"
                            }, {
                                "s": "INDEX:DEU30",
                                "d": "DAX Index"
                            }, {
                                "s": "FOREXCOM:UKXGBP",
                                "d": "FTSE 100"
                            }],
                            "originalTitle": "Indices"
                        }, {
                            "title": "Commodities",
                            "symbols": [{
                                "s": "CME_MINI:ES1!",
                                "d": "S&P 500"
                            }, {
                                "s": "CME:6E1!",
                                "d": "Euro"
                            }, {
                                "s": "COMEX:GC1!",
                                "d": "Gold"
                            }, {
                                "s": "NYMEX:CL1!",
                                "d": "Crude Oil"
                            }, {
                                "s": "NYMEX:NG1!",
                                "d": "Natural Gas"
                            }, {
                                "s": "CBOT:ZC1!",
                                "d": "Corn"
                            }],
                            "originalTitle": "Commodities"
                        }, {
                            "title": "Bonds",
                            "symbols": [{
                                "s": "CME:GE1!",
                                "d": "Eurodollar"
                            }, {
                                "s": "CBOT:ZB1!",
                                "d": "T-Bond"
                            }, {
                                "s": "CBOT:UB1!",
                                "d": "Ultra T-Bond"
                            }, {
                                "s": "EUREX:FGBL1!",
                                "d": "Euro Bund"
                            }, {
                                "s": "EUREX:FBTP1!",
                                "d": "Euro BTP"
                            }, {
                                "s": "EUREX:FGBM1!",
                                "d": "Euro BOBL"
                            }],
                            "originalTitle": "Bonds"
                        }, {
                            "title": "Forex",
                            "symbols": [{
                                "s": "FX:EURUSD"
                            }, {
                                "s": "FX:GBPUSD"
                            }, {
                                "s": "FX:USDJPY"
                            }, {
                                "s": "FX:USDCHF"
                            }, {
                                "s": "FX:AUDUSD"
                            }, {
                                "s": "FX:USDCAD"
                            }],
                            "originalTitle": "Forex"
                        }]
                    }
                </script>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="container-fluidd mt-5">
                    <h4 class="content-title"><i class="fas fa-list"></i> Instruments</h4>
                    <p class="content-desc">Most used trading instruments on TMGStock</p>
                </div>

                <div class="custom-container p-3">
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                            {
                                "width": "100%",
                                "height": 450,
                                "symbolsGroups": [{
                                    "name": "Forex",
                                    "originalName": "Forex",
                                    "symbols": [{
                                        "name": "FX:EURUSD"
                                    }, {
                                        "name": "FX:GBPUSD"
                                    }, {
                                        "name": "FX:USDJPY"
                                    }, {
                                        "name": "FX:USDCHF"
                                    }, {
                                        "name": "FX:AUDUSD"
                                    }, {
                                        "name": "FX:USDCAD"
                                    }]
                                }, {
                                    "name": "Indices",
                                    "originalName": "Indices",
                                    "symbols": [{
                                        "name": "FOREXCOM:SPXUSD",
                                        "displayName": "S&P 500"
                                    }, {
                                        "name": "FOREXCOM:NSXUSD",
                                        "displayName": "Nasdaq 100"
                                    }, {
                                        "name": "FOREXCOM:DJI",
                                        "displayName": "Dow 30"
                                    }, {
                                        "name": "INDEX:NKY",
                                        "displayName": "Nikkei 225"
                                    }, {
                                        "name": "INDEX:DEU30",
                                        "displayName": "DAX Index"
                                    }, {
                                        "name": "FOREXCOM:UKXGBP",
                                        "displayName": "FTSE 100"
                                    }]
                                }, {
                                    "name": "Commodities",
                                    "originalName": "Commodities",
                                    "symbols": [{
                                        "name": "CME_MINI:ES1!",
                                        "displayName": "S&P 500"
                                    }, {
                                        "name": "CME:6E1!",
                                        "displayName": "Euro"
                                    }, {
                                        "name": "COMEX:GC1!",
                                        "displayName": "Gold"
                                    }, {
                                        "name": "NYMEX:CL1!",
                                        "displayName": "Crude Oil"
                                    }, {
                                        "name": "NYMEX:NG1!",
                                        "displayName": "Natural Gas"
                                    }, {
                                        "name": "CBOT:ZC1!",
                                        "displayName": "Corn"
                                    }]
                                }, {
                                    "name": "Bonds",
                                    "originalName": "Bonds",
                                    "symbols": [{
                                        "name": "CME:GE1!",
                                        "displayName": "Eurodollar"
                                    }, {
                                        "name": "CBOT:ZB1!",
                                        "displayName": "T-Bond"
                                    }, {
                                        "name": "CBOT:UB1!",
                                        "displayName": "Ultra T-Bond"
                                    }, {
                                        "name": "EUREX:FGBL1!",
                                        "displayName": "Euro Bund"
                                    }, {
                                        "name": "EUREX:FBTP1!",
                                        "displayName": "Euro BTP"
                                    }, {
                                        "name": "EUREX:FGBM1!",
                                        "displayName": "Euro BOBL"
                                    }]
                                }],
                                "showSymbolLogo": true,
                                "colorTheme": "dark",
                                "isTransparent": true,
                                "locale": "en"
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="container-fluidj mt-5">
                    <h4 class="content-title"><i class="fas fa-trophy"></i> TMGStock Leaderboard</h4>
                    <p class="content-desc">TMGStock top traders of this week</p>
                </div>

                <div class="custom-container p-3">
                    <div class="mapbg">
                        <marquee behavior="" direction="left" height="400">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Profile ID</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">Fullname</th>
                                        <th scope="col">Profit</th>
                                        <th scope="col">Loss</th>
                                        <th scope="col">Instrument</th>
                                    </tr>
                                </thead>
                                <tbody>
                                                                                <tr>
                                                <td>
                                                    <p>There are no records at the moment.</p>
                                                </td>
                                            </tr>
                                                                            </tbody>
                                </table>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    
        </div>
    </div>
<%- include('partials/dashboardFooter')%>